.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 1.5rem;
}

.title,
.description {
  text-align: center;
}

.grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  cursor: pointer;
  margin: 2rem 0;
}

.card {
  margin: 1rem;
  padding: 1.2rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.resume {
  padding: 1rem;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.resumeHeader {
  margin: 2rem 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.resumeFormContainer {
  padding: 0 40vh;
}

.formInputTitle {
  width: 100px;
}

.formHeader {
  margin-right: 10px;
}


.addButton {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  padding: 5px;
  display: flex;
  background-color: #3D8361; 
  color: white; 
  justify-content: center;
  align-items: center;
  cursor: pointer; 
}

.addButton:hover {
  background-color: #1C6758;
}

.addButtonMain {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  display: flex;
  background-color: #3D8361; 
  color: white; 
  justify-content: center;
  align-items: center;
  cursor: pointer; 
  margin-left: 20px;
}

.addButtonMain:hover {
  background-color: #1C6758;
}



.removeButton {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  padding: 5px;
  display: flex;
  background-color: #DD5353; 
  color: white; 
  justify-content: center;
  align-items: center;
  cursor: pointer; 
}

.removeButton:hover {
  background-color: #B73E3E;
}


.removeButtonMain {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  padding: 5px;
  display: flex;
  background-color: #DD5353; 
  color: white; 
  justify-content: center;
  align-items: center;
  cursor: pointer; 
}

.removeButtonMain:hover {
  background-color: #B73E3E;
}

.cardRemoveContainer {
  display: flex;
  justify-content: right;
  margin-top: -2.2rem;
  margin-right: -1rem;
}

.checkIcon {
  width: 25px;
  height: 25px;
  color: #1746A2;
}

.profileContainer {
  display: flex;
  justify-content: center;
}

.profileInner {
  width: 250px;
  height: 250px;
  border-radius: 50px;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePic {
  border-radius: 50px;
}